/* MAIN CONTAINER */
body {
  margin: 0;
  padding: 0;
  background-color: #020205;
}

.bullet-echo-container {
  box-sizing: border-box;
  font-family:
    "Segoe UI",
    Roboto,
    -apple-system,
    sans-serif;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  z-index: 2;

  flex-wrap: wrap;
  gap: 20px;
}

.bullet-echo-container *,
.bullet-echo-container ::before,
.bullet-echo-container ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .bullet-echo-container {
    flex-direction: column;
    padding: 20px 10px;
  }
}

/* * * */

.color-box {
  width: 100px;
  height: 100px;
}

#colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#colors p {
  color: white;
}

.gradient-box {
  width: 300px;
  height: 300px;
  background: conic-gradient(
    from 0deg,
    /*
    Top / Start
    Right
    Bottom
    Left
    Top / End
    */ #b4adff 0deg,
    #58ffff 90deg,
    #b4adff 180deg,
    #ff48ff 270deg,
    #b4adff 360deg
  );

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
}

.indigo-circle {
  width: 90%;
  height: 90%;
  background: radial-gradient(circle, rgba(0, 0, 0) 40%, rgb(10, 15, 142) 70%);
  border: 5px solid white;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px white);
}

header {
  color: white;
  z-index: 9999;
  position: absolute;
}

.action-button {
  border-radius: 15px;
  background-color: #0a1438;
  border: 1px solid #0f205b;
  padding: 10px;
  color: white;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
}

.small-action-button {
  border-radius: 5px;
  background-color: #0a1438;
  border: 1px solid #0f205b;
  padding: 5px;
  color: white;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
}

.action-button:hover,
.small-action-button:hover {
  background-color: #15153e;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.action-button:active,
.small-action-button:active {
  background-color: #0d0d28;
  transition: 0.1s ease-in-out;
}

.action-button:disabled,
.small-action-button:disabled {
  background-color: #28284a;
  transition: 0.1s ease-in-out;
  cursor: not-allowed;
}

.hidden {
  display: none !important;
}
